body{
    background-color: rgba(27, 240, 141, 0.604);
}

.heading{
    background-color: blanchedalmond;
    color: cadetblue;
}

#showsketch{
    float: right;
}

canvas{
    border:5px solid whitesmoke;
    border-radius: 20px;
    animation-name:example;
    animation-duration:4s;
    margin-top:50px;
    animation-iteration-count: infinite;
}

@keyframes example
{
    from { box-shadow: 1px 1px 38px royalblue;}
    to { box-shadow: 1px 1px 38px white;}
}

#label1
{
    font-size: 30px;
}

#label2
{
    font-size: 30px;
}